
@model RealEstateWebUI.Models.UserForChangePasswordDto
@{
    ViewBag.Title = "Şifre değiştir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card" style="margin-top:20px;width:80%;margin-left:10%">
    <div class="card-title" style="text-align:center">
        <strong>Şifre Değiştir</strong>
    </div>
    <div class="card-body">
        <form method="post" id="userAddForm" class="needs-validation" novalidate>
            @using (Html.BeginForm("ChangePassword", "Auth"))
            {

                <div class="form-group col-md-12">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                    <div class="invalid-feedback">
                        Email girmek zorunludur.
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label for="oldPassword">Eski Şifre</label>
                    <input type="password" class="form-control" id="oldPassword" name="oldPassword" placeholder="Eski şifre" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$!%*?&])[A-Za-z\d$!%*?&]{8,}$" required>
                    <div class="invalid-feedback">
                        Oluşturacağınız şifre minimum 8 karakter olmalı,en az bir büyük harf,bir küçük harf,sayı ve $!%*?& özel karakterlerinden birini içermelidir.(Dilerseniz boş bırakabilirsiniz.(Default şifre = RealEstate54?))
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label for="newPassword">Yeni Şifre</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Yeni şifre" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$!%*?&])[A-Za-z\d$!%*?&]{8,}$" required>
                    <div class="invalid-feedback">
                        Oluşturacağınız şifre minimum 8 karakter olmalı,en az bir büyük harf,bir küçük harf,sayı ve $!%*?& özel karakterlerinden birini içermelidir.(Dilerseniz boş bırakabilirsiniz.(Default şifre = RealEstate54?))
                    </div>
                </div>
                <button style="margin-top:15px" class="btn btn-outline-success">Şifreyi değiştir</button>
            }
        </form>
    </div>

</div>
<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
@if (TempData["Message"] != null)
{
    <script type="text/javascript">
        toastr.options = {
            "positionClass":"toast-bottom-right"
        }
        toastr.success("@TempData["Message"]");

    </script>
}
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        toastr.success("@ViewBag.Message")
    </script>
}




